# Ignore everything, whitelist only what server needs
*

# Include only API server files
!requirements-prod.txt
!backend/**
!vidreward/**

# Exclude from included dirs
**/__pycache__
**/*.pyc
**/*.pkl
**/*.zip
**/*.mp4
